* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

 /* global */
.container {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}


 /* header */
 header {
     background-color: #35424a;
     color: #ffffff;
     min-height: 70px;
     padding: 30px;
     border-bottom: 4px solid #e8491d;
 }


 header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
 }
       
header li {
    float: left;
    padding: 0 20px 0 20px;
    display: inline;
}

header #logo {
    float: left;
}

header #logo h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .tony, .chi a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    font-weight: bold;
    color: aqua;
}

.dark {
    background: #576873;
    padding: 15px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 3px solid #d68670;
    border-radius: 30px;
}

.dark:hover {
    background-color: #d68670;
    border: 2px solid #35424a;
    border-radius: 20px;
    color: #ffffff;
}

.black {
    background: #35424a;
    padding: 15px;
    color: #ffffff;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    border: 2px solid #e8491d;
    border-radius: 10px;
}

.black:hover {
    background-color: #d68670;
    border: 2px solid #35424a;
    border-radius: 20px;
    color: #ffffff;
}

/*......showcase area...... */

.showcase {
    background-image: url(/pexel2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    

}

.showcase h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.showcase p {
    font-size: 20px;
    /* color: black; */
    width: 80%;

}

/* newsletter */

.newsletter {
    background-color: #35424a;
    color: #ffffff;
    min-height: 70px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter input[type="email"] {
    width: 250px;
    height: 25px;
    padding: 4px;
}
.newsletter button {
    background-color: #e8491d;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-color: black;
    border-radius: 5px; 
}

.newsletter button:hover {
   background-color: aqua;
   color: black;
}

/* boxes */
 #box {
    margin-top: 20px;
 }

 .web {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
 }
 
.box-1 {
    width: 350px;
    border: #35424a 2px solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition-property: width;
}

.box-1:hover {
    width: 400px;
    background-color:rgb(169, 169, 169);

}

 #box .box-1 img {
    width: 100px;
    height: auto; 
    text-align: center;
 }

 /* aside  */

 .orange {
     display: flex;
     justify-content: space-between;
     margin: 20px;
     padding: 20px;
     width: auto;
     align-items: center;
     
 }

.purple {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    width: auto;
 }

 aside .sidebar {
    width: 50%;
    margin-top: 10px;

 }
 .color {
    background: #576873;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #d68670;
    border-radius: 30px;
    height: 300px;
}
.color:hover {
    background-color: #d68670;
    border: 2px solid #35424a;
    border-radius: 20px;
    color: #ffffff;
}
 .color h3 {
     color: black;
     font-weight: bold;
 }

.clean {
    background: #b29d97;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    border: #35424a 2px solid;
    border-radius: 10px; 
    padding: 10px;
}
.clean:hover {
    background-color: #576873;
    color: #ffffff;
    border: #e8491d 2px solid;
}

.mango li {
    list-style: none;
}

.mango h1 {
    margin-top: 5px;
}

 /* Article new */

 .new {
     /* width: 55%; */
     padding-right: 30px;

 }

 /* footer */

 footer {
     margin-top: 20px;
     padding: 20px;
     color: #ffffff;
     background-color:#e8491d;
     text-align: center;

 }



/* .newsletter {
    background-color: #35424a;
     color: #ffffff;
     min-height: 70px;
     padding: 30px;
}

#newsletter {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[ type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
} */