* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

 /* global */
.container {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}


 /* header */
 header {
     background-color: #35424a;
     color: #ffffff;
     min-height: 70px;
     padding: 30px;
     border-bottom: 4px solid #e8491d;
 }


 header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
 }
       
header li {
    float: left;
    padding: 0 20px 0 20px;
    display: inline;
}

header #logo {
    float: left;
}

header #logo h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .tony, .chi a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    font-weight: bold;
    color: aqua;
}

.showcase {
    background-image: url(/pexel2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    

}

.showcase h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.showcase p {
    font-size: 20px;
    color: #e8491d;
    width: 80%;

}
.newsletter {
    background-color: #35424a;
    color: #ffffff;
    min-height: 70px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter button {
    background-color: #e8491d; 
}

.newsletter button:hover {
   background-color: aqua;
   color: black;
}

/* .newsletter {
    background-color: #35424a;
     color: #ffffff;
     min-height: 70px;
     padding: 30px;
}

#newsletter {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[ type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
} */